
  .nav-btn-1{
    padding: 10px;
    margin-left: 20px;
    height: 48px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #2d09e3;
    justify-content: center;
    display: flex;
    color: #2d09e3;
    width: 170px;
  }

    .nav-btn-1:hover{
       background-image: linear-gradient(to right, #6e59fa, #fd69ec);
        color: white;
        border-color: transparent;
    }

  .nav-btn-2{
    padding: 10px;
    margin-left: 20px;
    height: 48px;
    justify-content: center;
    height: 40px;
    display: flex;
    background-image: linear-gradient(to right, #6e59fa, #fd69ec);
    width: 170px;
    height: 48px;
    border-radius: 10px;
  }
  
    .nav-btn-2:hover{
        background-color: transparent;
        border: 2px solid #2d09e3;
        color: #2d09e3;
        background-image: none;
    }



    
* {
  margin: 0;
  padding: 0;
}

.menu-bar {
  background-color: #f8f9fa;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.menu-bar ul {
  display: flex;
  height: fit-content;
  justify-content: end;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */
  position: relative;

}

.menu-bar ul li a {
  font-size: 15px;
  color: #020001;
  font-size: normal;
  padding: 5px;
  /* transition: all 0.3s; */
}

.menu-bar ul li a:hover {
  color: #fafafc;
  font-weight: bolder;
  background-color: rgb(249, 79, 235);
  border-radius: 5px;
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #feb5ec;
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: inline-block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 2px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 160px;
  top: 0;
  background-color:#f8cbef;
  width: fit-content;
  padding: 0%;
}

.hero {
  height: calc(100vh - 80px);
  background-image: url(./bg.jpg);
  background-position: center;
}


